<form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)">

    <div>
        <label for="name">
            UserName
        </label>
        <input type="text" id="username" value="" formControlName="name" />
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input type="password" name="password" id="address" formControlName="password"/>
    </div>
    <div>
        <label for="file">
            Password
        </label>
        <input type="file" name="file" id="file" formControlName="file"/>
    </div>

    <button class="button" type="submit">Login</button>

</form>

